
<form novalidate [formGroup]="profileForm">
    <div>
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback"> -->
                    <div *ngIf="profileForm.controls.username.hasError('required')">Username is required</div>
                <!-- </div> -->
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="profileForm.controls.email.hasError('required')">Email is required</div><br>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
        <label>Gender</label><br>
        <input type="radio" id="male" name="gender" value="male" formControlName="gender">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female" formControlName="gender">
        <label for="female">Female</label><br><br>
        <div *ngIf="profileForm.controls.gender.hasError('required')">Gender is required</div>

    </div>
    <div>
        <textarea></textarea><br>
        <label for="avatar">Avatar</label><br>
        <input type="file" id="avatar" formControlName="avatar"><br><br>
        <label for="mobile">Mobile number</label><br>
        <input type="text" id="mobile" formControlName="mobile"><br><br>
        <div *ngIf="profileForm.controls.mobile.hasError('required')">Mobile is required</div>
    </div>
    <div>
        <label for="password">Password</label><br>
        <input type="password" id="password" formControlName="password"><br><br>
        <div *ngIf="profileForm.controls.password.hasError('required')">Password is required</div>
        <label for="password-confirm">Confirm your Password</label><br>
        <input type="password" id="password-confirm" formControlName="passwordConfirm"><br><br>
    </div>
  </form>
  <button type="submit">Submit</button>

